* {
    transition: all 5s;
}

.container {
    width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.group {
    width: 245px;
    height: 245px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.item {
    width: 120px;
    height: 120px;
    background-color: #c7ecee;
    border: 1px solid black;
    font-size: 96px;
    color: rgba(255, 255, 255, 0);
}

#s1, #s2, #s3, #s4, #s5, #s6, #s7, #s8 {
    background-color: #fab1a0;
}

input {
    display: inline;
    width: 120px;
    height: 64px;
    font-size: 32px;
}

button {
    width: 120px;
    height: 64px;
    background-color: #ff5252;
    border: none;
    color: #f7f1e3;
    font-size: 32px;
    font-weight: 500;
    transition: all 0s;
}
button:hover {
    background-color: #d55b5b;
}