@font-face {
    font-family: NanumSquare;
    src: local("NanumSquare"),
        url("font/NanumSquareR.woff");
}
* {
    font-family: NanumSquare;
    text-align: center;
}
.ContentBtn:hover {cursor: pointer;}
.SupportBtn:hover {cursor: pointer;}
body {
    margin: 0px;
    background-image: url("image/Background2.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}
/*Main*/
.MainDiv {
    background-color: #3498db;
    width: 100%;
    height: calc(100vw * 740 / 1080);
    display: flex;
    align-items: center;
    justify-content: center;
}
.MainImg {
    margin-bottom: 16px;
    width: 64px;
}
.MainText {
    color: white;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*Saying*/
.SayingDiv {
    width: 100%;
    /*background-color: #000000;*/
    height: calc(100vw * 640 / 1080);
    display: flex;
    align-items: center;
    justify-content: center;
}
.SayingApostrophe {
    width: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.SayingText {
    color: rgb(41, 41, 41);
    font-size: 20px;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*Content*/
.ContentDiv {
    width: 100%;
    background-color: #3498db;
    height: calc(100vw * 740 / 1080);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ContentWhiteLine {
    background-color: white;
    width: 100vw;
    height: calc(100vw * 160 / 750);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ContentWhiteLineImg {
    height: 48%;
    margin-left: 4%;
    margin-right: 4%;
}
.ContentText {
    color: white;
    font-size: 12px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.ContentBtnDiv {
    margin: 0px;
}
.ContentBtn {
    outline: none;
    border: none;
    background-color: white;
    color: #3498db;
    font-size: 12px;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    margin: 0px 8px;
}
/*Support*/
.SupportDiv {
    background-color: #3498db;
    width: 100%;
    height: calc(100vw * 640 / 1080);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SupportTitle {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 12px;
}
.SupportInfo {
    font-size: 12px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 16px;
}
.SupportBtn {
    background-color: white;
    color: #3498db;
    outline: none;
    border: none;
    width: 124px;
    height: 36px;
    border-radius: 18px;
    margin: 0px;
}
.SupportBackBtn {
    background-color: white;
    color: #3498db;
    outline: none;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-top: 0px;
    margin-bottom: 0ex;
    margin-right: 4px;
}
.SupportBackBtnImg {
    width: 50%;
}